<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pritam.com.studentofcharlotte">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".siddharth.com.studentofcharlotte.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".siddharth.com.studentofcharlotte.UpdateActivity" android:screenOrientation="portrait"/>
        <activity android:name=".siddharth.com.studentofcharlotte.SidMainActivity" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".StorageUploads.NewPost" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".login.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".school.MainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".school.SchoolProfileActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".school.NotificationActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>